{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "plugin:json/recommended",
        "plugin:import/recommended",
        "plugin:@next/next/recommended",
        "airbnb"
    ],
    "settings": {
        "import/resolver": {
            "eslint-import-resolver-custom-alias": {
                "alias": {
                    "@lib": "./lib",
                    "@styles": "./styles",
                    "@components": "./components"
                }
            }
        }
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [0],
        "no-param-reassign": [0],
        "object-curly-newline": [0],
        "import/no-extraneous-dependencies": [0],
        "import/prefer-default-export": [0],
        "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": [0],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-indent": ["error", 4],
        "react/prop-types": [0],
        "react/no-unescaped-entities": [0],
        "react/function-component-definition": [0],
        "react/react-in-jsx-scope": [0],
        "react/jsx-one-expression-per-line": [0],
        "no-restricted-syntax": [0],
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "complexity": [2, 6],
        "max-depth": [2, 2]
    }
}
