@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));
@custom-variant prose-mark (&.prose :where(mark:not(:where([class~="not-prose"] *))));

/* Mermaid */

[data-streamdown="mermaid-block"] {
    border: none !important;
    background: transparent !important;
    padding: 0 !important;
    border-radius: 0 !important;
    gap: 0 !important;
}

[data-streamdown="mermaid-block"] > div:first-child {
    display: none !important;
}

[data-streamdown="mermaid-block"] > div:last-child {
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

[data-streamdown="mermaid"],
[data-streamdown="mermaid"] div {
    width: 100% !important;
    overflow: visible !important;
    cursor: default !important;
}

[data-streamdown="mermaid"] svg {
    @apply h-auto mt-4;
}

[data-streamdown="mermaid"] g,
[data-streamdown="mermaid"] foreignObject {
    @apply leading-none;
}

[data-streamdown="mermaid"] .label rect {
    @apply !fill-transparent;
}

[data-streamdown="mermaid"] .edgeLabel {
    @apply !bg-transparent;
}

[data-streamdown="mermaid"] .flowchart-link,
[data-streamdown="mermaid"] .path {
    @apply !stroke-gray-700;
}

[data-streamdown="mermaid"] .arrowheadPath,
[data-streamdown="mermaid"] .marker {
    @apply !fill-gray-700;
}

[data-streamdown="mermaid"] .cluster rect,
[data-streamdown="mermaid"] rect.label-container {
    @apply !fill-gray-200 !stroke-gray-800;
}

/* Commento */

#commento .commento-submit-button {
    @apply bg-transparent border border-gray-300 lowercase capitalize;
}

#commento * {
    @apply !text-gray-700;
}

#commento .commento-avatar {
    @apply !bg-gray-300;
}

#commento .commento-card {
    @apply !border-l-2 !border-gray-300 !border-t ![border-top-color:#f0f0f0];
}

#commento .commento-card .commento-moderator::after {
    @apply !bg-transparent !border !border-gray-400 !text-gray-700 !py-[1px] !px-[5px];
}

#commento .commento-login-box-container {
    @apply z-10;
}

#commento .commento-mod-tools::before {
    @apply !text-gray-700;
}

#commento #commento-submit-button-root,
#commento .commento-login-text {
    @apply mr-0;
}

#commento #commento-markdown-button-root {
    @apply ml-0;
}

#commento code {
    @apply bg-gray-200 whitespace-pre-wrap text-xs rounded-md py-0.5 px-1.5;
}

#commento #commento-textarea-root:focus {
    @apply shadow-none;
}

#commento .commento-body p a {
    @apply underline hover:!text-gray-900;
}
