.swiper {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    @apply sm:my-4 md:my-0 h-40 md:h-28 pt-6 max-w-screen-md;
}

.swiper .swiper-pagination {
    @apply mt-10;
}

.swiper :global(.swiper-pagination-bullet) {
    @apply bg-gray-400;
}

.swiper :global(.swiper-pagination-bullet-active) {
    @apply bg-gray-500;
}
